{% extends 'base.html' %}

{% block content %}
<div class="cart-container wide">
  <h2 class="cart-title">Your Cart</h2>

  {% if cart|length > 0 %}
    <table class="cart-table">
      <thead>
        <tr>
          <th>Product</th>
          <th style="padding-left: 50px;">Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          <tr>
            <td class="product-info">
              <img src="{{ item.product.image }}" alt="{{ item.product.name }}" class="product-image">
              <span>{{ item.product.name }}</span>
            </td>
            <td>
              <form method="post" action="{% url 'cart:cart_update' item.product.id %}" class="quantity-form">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="quantity-input">
                <button type="submit" class="update-btn">Update</button>
              </form>
            </td>

            <td>${{ item.product.price }}</td>
            <td>${{ item.total_price }}</td>
            <td><a href="{% url 'cart:cart_remove' item.product.id %}" class="remove-btn">Remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="cart-total">
      <strong>Total: ${{ cart.get_total_price }}</strong><br><br>
      <form action="{% url 'payment:create_order' %}">
        <button type="submit" class="checkout-btn">Checkout</button>
        {% csrf_token %}
      </form>
    </div>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
</div>
{% endblock content %}
