{% extends 'base.html' %}

{% block content %}
<div class="item-card-detail">
    <div class="item-left">
    <img src="{{ item.image }}" alt="Product image" class="item-image">
    </div>
    <div class="item-right">
    <a href="{% url 'shop:item_detail' slug=item.slug %}" class="item-title-container"><h2 class="item-title">{{ item }}</h2></a>
    <p class="item-subtitle">{{ item.model }}</p>
    <ul class="item-specs">
        <li><strong> category: {{ item.category}} </strong></li>
        <li><strong> sub category: {{item.sub_category}} </strong></li>
    </ul>
    <div class="item-actions">
        <div class="price">{{ item.price }} $</div>
        <form action="{% url 'cart:cart_add' item.id %}" method="post">
        {% csrf_token %}
        <label for="quantity_{{ item.id }}" class="form-label">Quantity:</label>
        <input
            type="number"
            name="quantity"
            id="quantity_{{ item.id }}"
            value="1" 
            min="1"
            max="100"
            class="quantity-input"
        >
        <button type="submit" class="add-to-cart">Add to cart</button>
        </form>
    </div>
    </div>
</div>

<div class="recommendation-section">
  <h2 class="recommendation-title">People also buy</h2>
  <div class="recommendation-scroll">
    
    <!-- Recommended items bar -->
    {% for recommended in recommended_items %}
    <div class="product-card">
      <img src="{{ recommended.image }}" alt="Product 1" class="product-image">
      <a href="{% url 'shop:item_detail' slug=recommended.slug %}" class="item-title-container">
        <h3 class="product-title" style="color: #0066cc;">{{recommended}}</h3>
      </a>
      <div class="product-rating">⭐⭐⭐⭐⭐ <span class="product-review-count">{{recommended.rating}}</span></div>
      <div class="product-prices">
        <span class="product-price">${{recommended.price}}</span>
      </div>
    </div>
    {% endfor %}  
  </div>
</div>

{% endblock content %}